<div class="flex justify-center items-center my-10">
    <div class="w-full md:w-2/3 lg:w-1/2 bg-gray-100 p-8 rounded-2xl shadow-xl">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col items-center p-4">
          <h2 class="text-xl font-semibold mb-2 text-center">Parier sur des événements de <br> la vie</h2>
          <img src="assets/life-icon.png" alt="Image 1" class="mb-4 w-48 h-48 object-contain">
          <button class="bg-gray-700 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300"
        (click)="navigateToLifeBetting()">Jouer maintenant !</button>
        </div>
        <div class="flex flex-col items-center p-4">
          <h2 class="text-xl font-semibold mb-2 text-center">Parier sur des événements <br> sportifs</h2>
          <img src="assets/sport-icon.png" alt="Image 2" class="mb-4 w-48 h-48 object-contain">
          <button class="bg-gray-700 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300"
        (click)="navigateToSportsBetting()">Jouer maintenant !</button>
        </div>
      </div>
    </div>
  </div>