<div class="flex items-center justify-center min-h-screen">
  <div class="w-full max-w-3xl bg-gray-100 p-8 rounded-lg shadow-md flex">
    <div class="flex flex-col mr-12">
      <h2 class="text-3xl font-bold mb-4 text-center mt-4">PARIS SUR DES ÉVÉNEMENTS DE LA VIE</h2>
      <div class="text-lg mb-6 text-black text-center">Créez votre propre pari sur n'importe quel événement de la vie</div>
      <div class="flex items-center justify-center mb-8 h-full">
        <img src="/assets/life-icon.png" alt="Heart Icon" class="w-64 h-auto object-cover">
      </div>
    </div>


    <div class="flex flex-col w-full">
      
      <form (ngSubmit)="createBet()" class="space-y-4">
        <div>
          <label class="block text-black text-sm font-bold mb-2" for="title">Titre</label>
          <input type="text" id="title" [(ngModel)]="bet.title" name="title"
            class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Entrez le titre ici"/>
        </div>

        <div>
          <label class="block text-black text-sm font-bold mb-2" for="odds">Cotes</label>
          <input type="text" id="odds" [(ngModel)]="bet.odds" name="odds" pattern="\d{1,2}\/\d{1,2}"
            class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Format: XX/YY" title="Veuillez entrer une fraction (XX/YY)"/>
        </div>

        <div>
          <label class="block text-black text-sm font-bold mb-2" for="startingBetAmount">Montant initial du pari</label>
          <input type="number" id="startingBetAmount" [(ngModel)]="bet.startingBetAmount" name="startingBetAmount"
            class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Enter starting bet amount"/>
        </div>

        <div class="flex items-center">
          <span class="text-black text-sm font-bold mr-2">Choisissez votre côté :</span>
          <div class="mt-2">
            <label class="inline-flex items-center">
              <input type="radio" [(ngModel)]="bet.side" name="side" value="XX/XY" class="form-radio text-blue-600">
              <span class="ml-2">XX/XY</span>
            </label>
            <label class="inline-flex items-center ml-4">
              <input type="radio" [(ngModel)]="bet.side" name="side" value="XY/XX" class="form-radio text-blue-600">
              <span class="ml-2">XY/XX</span>
            </label>
          </div>
        </div>

        <div class="flex items-center">
          <div>
            <span class="text-black text-sm font-bold mr-2">Autoriser la négociation des cotes :</span>
            <label class="inline-flex items-center">
              <input type="checkbox" [(ngModel)]="bet.allowNegotiation" class="form-checkbox text-blue-600">
              <span class="ml-2">Yes</span>
            </label>
          </div>
          <div class="ml-8">
            <span class="text-black text-sm font-bold mr-2">Autoriser d'autres personnes à rejoindre le pari :</span>
            <label class="inline-flex items-center">
              <input type="checkbox" [(ngModel)]="bet.allowJoining" class="form-checkbox text-blue-600">
              <span class="ml-2">Yes</span>
            </label>
          </div>
        </div>

        <div>
          <label class="block text-black text-sm font-bold mb-2" for="result1Description">Résultat 1</label>
          <input id="result1Description" [(ngModel)]="bet.result1Description" name="result1Description"
            class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Décrivez ce qui définit le Résultat 1"/>
        </div>

        <div>
          <label class="block text-black text-sm font-bold mb-2" for="result2Description">Résultat 2</label>
          <input type="text" id="result2Description" [(ngModel)]="bet.result2Description" name="result2Description"
            class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Décrivez ce qui définit le Résultat 2"/>
        </div>


        
        <div class="flex justify-center">
          <button type="submit" class="bg-gray-700 font-bold text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300">CRÉER UN PARI</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="mt-4">
  <div *ngIf="isLoggedIn" class="mt-4">
    <div *ngFor="let bet of bets" class="p-4 border rounded bg-white">
      <div><strong>Title:</strong> {{ bet.title }}</div>
      <div><strong>Odds:</strong> {{ bet.odds }}</div>
      <div><strong>Side:</strong> {{ bet.side }}</div>
      <div><strong>Result 1 Description:</strong> {{ bet.result1Description }}</div>
      <div><strong>Result 2 Description:</strong> {{ bet.result2Description }}</div>
    </div>
  </div>
</div>