<div class="flex justify-center items-center min-h-screen"> <!-- Centre verticalement et horizontalement sur la page entière -->
    <div class="bg-blue-800 p-2 rounded-lg flex items-center justify-between text-white max-w-4xl mx-auto"> <!-- max-width et auto margins pour le centrage horizontal -->
        <!-- Équipe 1 -->
        <div class="flex items-center space-x-2">
          <img src="/assets/team1-logo.png" alt="Team 1" class="w-24 h-24">
          <div>
            <div class="font-bold">TEAM 1</div>
            <div>Cote: XX</div>
          </div>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">BET</button>
        </div>
  
        <!-- Input pour valeur à parier, centré -->
        <input type="number" class="text-black w-32 mx-10 py-1 rounded text-center" placeholder="Montant à parier">
  
        <!-- Équipe 2 -->
        <div class="flex items-center space-x-2">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">BET</button>     
          <div>
            <div class="font-bold">TEAM 2</div>
            <div>Cote: XX</div>
          </div>
          <img src="/assets/team2-logo.png" alt="Team 2" class="w-24 h-24">
        </div>
      </div>
  </div>
  