<div class="flex justify-center items-center my-10">  
    <div class="w-1/2 bg-gray-200 p-2">  
      <div class="flex">
        <div class="w-1/2 flex flex-col items-center p-1 border-r flex-grow">  
          <h2 class="text-xl mb-4">parier sur des événements de vie</h2>
          <img src="assets/life-icon.png" alt="Image 1" class="mb-4 w-32 h-32">
          <a routerLink="/lifebet">
          <button class="bg-blue-500 text-white px-4 py-2 rounded">Jouer maintenant !</button>
          </a>
        </div>
        <div class="w-1/2 flex flex-col items-center p-1 border-r flex-grow">  
          <h2 class="text-xl mb-4">parier sur des événements sportifs</h2>
          <img src="assets/sport-icon.png" alt="Image 2" class="mb-4 w-32 h-32">
          <a routerLink="/sportbet">
            <button class="bg-blue-500 text-white px-4 py-2 rounded">Jouer maintenant !</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  