header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F79B6C;
    color: white;
    padding: 10px 20px;
  }
  
  header .logo {
    flex-grow: 1;
  }
  
  header .logo a {
    display: flex;
    align-items: center;
  }
  
  header .logo img {
    width: 100px;
  }
  
  nav {
    flex-grow: 2;
    text-align: right;
  }
  
  nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
  }
  
  nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
  
  nav a i {
    margin-right: 5px; 
  }
  