<div class="flex justify-center items-center my-10">
    <div class="w-full md:w-2/3 lg:w-1/2 bg-gray-100 p-8 rounded-2xl shadow-xl flex items-center space-x-8">
      <img src="assets/money-icon.png" alt="Icône d'argent" class="h-48 w-48"> 
      <div>
        <h2 class="text-3xl font-bold mb-8">Comment jouer</h2>
        <div class="flex flex-col space-y-4">
          <div class="flex items-center space-x-4">
            <div class="h-8 w-8 flex items-center justify-center rounded-full bg-gray-700 text-white font-bold">1</div>
            <h3 class="text-xl font-semibold mb-0">Se connecter ou s'inscrire</h3>
          </div>
          <div class="flex items-center space-x-4">
            <div class="h-8 w-8 flex items-center justify-center rounded-full bg-gray-700 text-white font-bold">2</div>
            <h3 class="text-xl font-semibold mb-0">Placer vos paris</h3>
          </div>
          <div class="flex items-center space-x-4">
            <div class="h-8 w-8 flex items-center justify-center rounded-full bg-gray-700 text-white font-bold">3</div>
            <h3 class="text-xl font-semibold mb-0">Gagner des pièces</h3>
          </div>
        </div>
      </div>
    </div>
  </div>